@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

body{
    font-family: 'Nunito Sans';
    font-size: 14px;
}

input:placeholder {
    font-family: 'Nunito Sans';
    font-size: 14px;
}